@import "src/assets/vars";

.contract-closure {
  background-color: $base_light;
  padding: 16px 0;
  &__text {
    font-size: 1.4rem;
    color: $base_mid
  }
  &__time {
    font-size: 1.6rem;
    color: $base;
  }
}

// Purchase modal
.purchase-block {
  text-align: center;
  &__img {
    width: 120px;
    height: 120px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
  &__country {
    font-size: 2rem;
    margin-top: 20px;
  }
  &__owner {
    font-size: 1.8rem;
    font-weight: 600;
    color: $base_mid;
    margin-top: 7px;
  }
  &__price {
    font-size: 2rem;
    margin-top: 40px;
    color: $primary;
    text-transform: uppercase;
  }
  & button {
    max-width: 200px;
    margin-top: 15px;
  }
}

table {
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  padding: 30px 0;
  margin-top: -10px;
  tr {
    &:not(:last-child) {
      border-bottom: 1px solid $base_light;
    }
  }
  td {
    position: relative;
    font-weight: 400;
    vertical-align: middle;
    line-height: 1.25;
    padding: 10px 0;
    &:last-child {
      text-align: right;
    }
  }
}

// Purchase modal end

// Sign in modal

.form {
  width: 100%;
  &__row {
    position: relative;
    margin: 0 0 30px;
    &_center {
      text-align: center;
    }
  }
  &__label {
    display: block;
    font-weight: 400;
    &_b {
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  &__input {
    display: block;
    max-width: 390px;
    width: 100%;
    height: 45px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 45px;
    color: $base;
    border: 2px solid $base_light;
    border-radius: 5px;
    padding: 0 20px;
    box-sizing: border-box;
    transition: all .25s;
    &_center {
      text-align: center;
      margin: auto;
    }
    &::placeholder {
      color: $base_mid;
    }

    &:hover {
      outline: none;
      border-color: $base_mid_50;
    }
    &[disabled] {
      background-color: #F2F5F7;
      color: $base_mid;
      cursor: not-allowed;
      &:hover,
      &:focus {
        border-color: $base_light;
      }
    }
    &:active,
    &:focus {
      outline: none;
      border-color: $base_mid;
    }
  }
  button {
    max-width: 200px;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 768px) {

  .form {
    margin-top: 30px;
    &__row {
      margin-bottom: 15px;
    }
    &__label {
      display: block;
      margin-bottom: 10px;
    }
    &__input {
      display: block;
      max-width: 100%;
    }
    & button {
      margin-top: 30px;
    }
  }

}

// Sign in modal end

// All modal style
.modal {
  display: flex;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.7);
  &-dialog {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 15px;
    pointer-events: none;
  }
  &-content {
    position: relative;
    background-color: $light;
    box-shadow: 0 0 30px 0 $base-mid;
    border-radius: 5px;
    margin: auto;

    pointer-events: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  &-body {
    padding: 40px 45px;
  }
  &-hr {
    width: 100%;
    height: 1px;
    background-color: $base_light;
  }

  &__headline {
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    & + .modal__title {
      margin-top: 30px;
      &:last-child {
        margin-top: 20px;
      }
    }
  }
  &__title {
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
  }
  &__img {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
  &__more-btn {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.214;
    cursor: pointer;
    color: $base_mid;
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0 0;
    text-decoration: none;
    transition: color .25s;
    &:hover,
    &:focus {
      text-decoration: none;
      color: $base;
    }
  }
  form {
    margin-top: 60px;
  }

}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: $base_mid;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
  &:hover,
  &:focus {
    color: $base;
    text-decoration: none;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@media only screen and (max-width: 768px) {

  .modal {
    form {
      margin-top: 30px;
    }
  }

  .modal-body {
    padding: 30px 15px;
  }

  .close {
    top: 15px;
    right: 15px;
  }

}

// All modal style end

.error {
  position: absolute;
  font-size: 14px;
  bottom: -20px;
  left: 120px;
  color: red;
}

.field-error {
  border-color: red;
}
.hide{
 display: none;
}
