/** Bold */
@font-face {
	font-family: "ProximaNova";
	font-weight: 700;
	src: url("./assets/fonts/ProximaNovaBold.otf");
}

/** Semibold */
@font-face {
	font-family: "ProximaNova";
	font-weight: 600;
	src: url("./assets/fonts/ProximaNovaSemibold.otf");
}

/** Regular */
@font-face {
	font-family: "ProximaNova";
	font-weight: 400;
	src: url("./assets/fonts/ProximaNovaRegular.otf");
}
