<div class="main-wrap container-fluid">
  <div class="container">
    <div class="row">
      <div class="accordion-inner">
        <button class="accordion" >What do I need to play Bit Tournament?</button>
        <div class="panel">
          <p>To Own a Team on Bit Tournament you need:</p>
          <ul>
            <li>A computer or mobile device with Chrome, Brave or Firefox</li>
            <li> A MetaMask wallet</li>
            <li>Ethereum in your wallet to fund your purchases</li>
          </ul>
        </div>
        <button class="accordion"  >How do I install MetaMask?</button>
        <div class="panel">
          <p>In order to buy Team’s Smart Contracts you’ll need to install the wallet application
            Metamask on your Chrome or Firefox browser and load it up with ether.
          </p>
          <ul>
            <li>Go to
              <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">Google Chrome Store</a>
              and click <span>“Add to Chrome”.</span></li>
            <li>Click <span>“Add Extension”</span> on the pop-up.</li>
            <li>Set up your MetaMask account.</li>
            <li>Copy your 12 seed words and file them away somewhere safe (this helps to secure your
              account).
            </li>
          </ul>
          <p>If you are using the Brave Browser Metamask is automatically installed. To use
            metamask:
          </p>
          <ol>
            <li>Launch the browser and click <span>Learn more under</span> Enable your extensions.
            </li>
            <li>Then click <span>Manage Extensions.</span></li>
            <li>Click on the fox logo in the top right-hand corner of the window</li>
            <li>Then follow the instructions of the extension: read the terms and conditions, create
              a password and write down the secret passphrase somewhere where you won't lose it,
              preferably on a piece of paper. Everything digital can be hacked, but paper remains
              as safe as ever.
            </li>
          </ol>
          <p>For security purposes, MetaMask browser extension will sometimes request that you log
            back in to your account. If you see a lock screen on when using the game of Bit
            Tournament, this security precaution is probably cause – just click on the MetaMask and
            log back in to continue buying teams.
          </p>
        </div>
        <button class="accordion">How do I add ether to my MetaMask?</button>
        <div class="panel">
          <p>There are two common ways to add ether to your wallet.</p>
          <ul>
            <li>The most common way is to buy Ethereum through an exchange such as Coinbase, Gemini or similar. As soon as that is done, transfer your Ethereum to your MetaMask.</li>
          </ul>
          <p>If you already own Ethereum you can transfer funds directly to your MetaMask. In the exchange wallet you then paste that address and send the funds.</p>
        </div>
        <button class="accordion">How do I buy a team?</button>
        <div class="panel">
          <p>On the Home Page of the Bit Tournament website you can browse through all the available teams. As soon as you find your favorite team you want to buy, click on the “Buy” button. A dialogue box will open, and you will be guided on how to complete your purchase to take ownership of your team. When the transaction is completed, you will be the sole owner of the team and the Bracket will highlight your team.</p>
        </div>
        <button class="accordion">How much is a team?</button>
        <div class="panel">
          <p>All teams will start out with an initial price of .01 Ether and the price will increase by increments of 25% per new purchase. Of that 25% increase 5% will go to the previous owner, 5% will go to the developers and 15% will go to the Achievements & Incentives Pool.</p>
        </div>
        <button class="accordion">Can I refuse to sell my team?</button>
        <div class="panel">
          <p>If someone wants to buy your team and have enough funds to buy it, they can. However, you will earn a 5% premium on what you paid originally.</p>
        </div>
        <button class="accordion">Can I use fiat currency (USD, EUR, etc) to buy country contracts?</button>
        <div class="panel">
          <p>No. Because Bit Tournament runs on the Ethereum blockchain, payments are only accepted in Ethereum. You can convert your standard currency into Ethereum through an Exchange.</p>
        </div>
      </div>
    </div>
  </div>
</div>
